/*
 *  Animation Settings
 *    Provides basic animation settings for use throughout the site.
 *
 *  Version:
 *    2.0.0 - 2018/10/31
 */
$s-animation--ease-in-out: ease;
$s-animation--ease-in: ease-in;
$s-animation--ease-out: ease-out;
