/*
 *  Color Settings
 *    Settings for colors.
 *
 *  Version:
 *    1.0.0 - 2018/11/12
 */
$s-color--body: white;
$s-color--link: #FC78DE;

$s-color--primary: #EB71DD;

$s-color--secondary: #9C8EF7;
$s-color--secondary-compliment: white;

$s-color--github: #ECE8FE;
$s-color--github-compliment: black;

$s-color--loader: white;
