/*
 *  Footer
 *    Styles for the footer of the website.
 *
 *  Version:
 *    1.0.0 - 2018/11/13
 */
.c-footer {
  padding: 4em 1em 2em;
  display: flex;
  justify-content: flex-end;

  &__inner {

  }
}
